#Stage {
    background-color: #353535;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Stage .Participant {
    display: flex;
    flex-direction: row-reverse;
}

#Stage img {
    height: 50%;
}